{% extends "layout.html" %}
{% block content %}
<link rel="stylesheet"
      href="{{ url_for('static', filename='styles/style.css') }}">
<div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100">
        <form action="{{ url_for('app_server.get_device_data_from_db') }}"
              method="POST">
            <input class="form-control form-control-lg
                border-dark" type="text" placeholder="Type device ip adress"
                   onfocus="this.placeholder = ''" name="device_ip"
                   onblur="this.placeholder = 'Type device ip address'"/>
            <input class="btn-dark btn-lg w-100" type="submit"
                   value="Connect to device!"/>
        </form>
    </div>
</div>
{% endblock %}